<!DOCTYPE html>
<html>
<head>
	<title>Pra-Debut</title>
</head>

<body background="background2.jpg">
	<font face="Roboto" color="#3b3b3b">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" 
	height="100%" background="">
	<tr>
		<td>
		<table width="1140px" border="0"  align="center">
		<!-- Header -->
		<tr>
			<td width="570px">
				<a href="">
				<img src="logo-ikon.png" height="50px">
				</a>
			</td>
			<td align="right">
				<b><a href="Home.html" title="Kembali"> 
				<font face="Roboto" color="#3b3b3b">
				Kembali
				</font></a></b>
			</td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
							
		<!-- Content -->
		<tr>
			<td align="center">
				<font face="arial" size="20" color="#5a6a85"><b>2015: <font color="black">&nbsp;
				Debut dan Welcome Back</font></b></font>
				<br><br>
			</td>
		</tr>
							
		<tr>
			<td align="left" bgcolor="" cellpadding="10" cellspacing="1" width="150%">
				<font face="roboco" size="4" color="black">
					<p>Setelah beberapa kali mengalami penundaan, YG Entertainment mengumumkan bahwa debut resmi iKON akan dilakukan pada 15 September 2015.
					Album debut mereka, Welcome Back, akan dibagi menjadi dua bagian dengan total enam dari dua belas lagu akan menjadi singel utama album ini. 
					Bagian pertama Debut Half Album dijadwalkan untuk dirilis pada 1 Oktober, disusul oleh Debut Full Album pada 2 November. Daftar lagu untuk 
					bagian pertama dirilis pada 24 September. Leader grup, B.I diberi kredit sebagai produser dan ko-komposer untuk semua lagu dalam album 
					tersebut dan turut berkontribusi bersama Bobby dalam penulisan lirik semua lagu, serta Junhoe dalam pembuatan singel utama "Rhythm Ta".
					<br/><br/>
					iKON debut dengan 'pra-singel' "My Type" yang dirilis bersama video musik pada 15 September 2015. Dalam kurun waktu 24 jam semenjak 
					dirilis, video musik "My Type" telah ditonton lebih dari 1,7 juta kali di YouTube. Meskipun iKON akan baru resmi debut pada 1 Oktober 
					2015, namun mereka menerima trofi kemenangan pertamanya di acara musik pada 26 September 2015, yakni di MBC Show! Music Core. 
					Pada 24 September, "My Type" meraih triple crown di tangga lagu Gaon dengan meraih posisi nomor 1 di tangga lagu digital, download 
					dan streaming untuk minggu ke-39 tahun 2015. Pada 18 September, singel ini menduduki posisi nomor 1 di tangga video musik situs 
					streaming musik Tiongkok seperti QQ Music dan Youku. iKON juga menjadi topik terhangat di Weibo di mana nama mereka dikabarkan telah 
					dicari sebanyak 1,3 miliar kali.
					<br/><br/>
					Debut Half Album dirilis pada 1 Oktober secara digital. Grup menggelar konser pertama mereka, Showtime, pada 3 Oktober di Seoul Olympic 
					Gymnastics Arena yang menampung sekitar 13.000 penggemar. Konser debut mereka tersebut disiarkan secara langsung melalui aplikasi 'V' 
					Naver dan ditonton lebih dari 500,000 penonton. Di akhir konser, iKON mengumumkan bahwa 'iKONIC' akan menjadi nama resmi klub 
					penggemar mereka.
					<br/><br/>
					Pada 4 Oktober, sehari setelah konser debut, grup ini melangsungkan panggung debut pertamanya di SBS Inkigayo dengan membawakan 
					"Rhythm Ta" dan "Airplane". Pada hari yang sama, iKON menerima trofi kemenangan ketiga mereka di acara musik dengan lagu "My Type". 
					Pada 8 Oktober, iKON memperoleh kemenangan lainnya dengan lagu "Rhythm Ta" di Mnet M! Countdown. Menurut Tangga Lagu Gaon, iKON 
					memuncaki tangga penjualan album mingguan dengan bagian pertama Welcome Back untuk periode 4–10 Oktober.
					<br/><br/>
					Selama bulan Oktober, iKON memulai serangkaian jumpa penggemar di Jepang yang bertajuk "iKONTACT" di Tokyo, Aichi, Fukuoka dan Osaka, 
					serta dihadiri oleh 26.600 penggemar. Pada akhir bulan, iKON meraih MelOn All-Kill Popularity Award dan Debut Half Album - Welcome 
					Back telah terjual sebanyak 82.208 kopi. Pada 28 Oktober, diumumkan bahwa perilisan album penuh akan ditunda sementara dua singel 
					digital tambahan dirilis pada 16 November.
					<br/><br/>
					Dua singel digital, "Apology" and "Anthem", dirilis pada 16 November. "Apology" mengambil posisi nomor 1 di tangga lagu digital Gaon 
					untuk minggu ke-48 tahun 2015. Pada 24 Desember, tiga singel baru berjudul "Dumb & Dumber", "What's Wrong?" dan "I Miss You So Bad" 
					dirilis.</p>
			</td>
		</tr>
							
		<!-- Footer -->
		<tr>
			<td>
				<img src="logo-ikon.png" width="35px">
				Copyright &copy; Farah Syadza
			</td>
		</tr>
	</table>
	</font>
</body>
</html>