<!DOCTYPE html>
<html>
<head>
	<title>Tur Asia dan Debut Solo Bobby</title>
</head>

<body background="background2.jpg">
	<font face="Roboto" color="#3b3b3b">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" 
	height="100%" background="">
	<tr>
		<td>
		<table width="1140px" border="0"  align="center">
		<!-- Header -->
		<tr>
			<td width="570px">
				<a href="">
				<img src="logo-ikon.png" height="50px">
				</a>
			</td>
			<td align="right">
				<b><a href="Home.html" title="Kembali"> 
				<font face="Roboto" color="#3b3b3b">
				Kembali
				</font></a></b>
			</td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
							
		<!-- Content -->
		<tr>
			<td align="center">
				<font face="arial" size="20" color="black"><b>2016: <font color="#5a6a85">&nbsp;
				Tur Asia dan Debut Solo Bobby</font></b></font>
				<br><br>
			</td>
		</tr>
							
		<tr>
			<td align="left" bgcolor="" cellpadding="10" cellspacing="1" width="150%">
				<font face="roboco" size="4" color="black">
					<p>Pada 17 Maret 2016, YG Entertainment mengumumkan bahwa iKON akan menggelar Tur Asia pertama mereka yang akan berlangsung di Taiwan, Tiongkok, 
					Hong Kong, Thailand, Singapura, Malaysia dan Indonesia.
					<br/><br/>
					Pada 30 Mei, grup merilis singel "#WYD" (kependekan dari "What You Doing"). Diumumkan bahwa album mendatang iKON, serta singel resmi 
					pertama Bobby sebagai artis solo akan dirilis pada tahun 2016.
					<br/><br/>
					Pada 1 Juli, YG Entertanment mengumumkan bahwa tur arena kedua mereka di Jepang, iKON Japan Tour 2016, diharapkan dapat mengunjungi 
					lima kota dengan total 14 konser dan ditonton oleh 150.000 penggemar.
					<br/><br/>
					Pada 10 Agustus, perilisan singel Jepang pertama iKON berjudul DUMB & DUMBER diumumkan. Singel ini akan dirilis pada 28 September berupa 
					versi CD+DVD dan versi CD saja.</p>
			</td>
		</tr>
							
		<!-- Footer -->
		<tr>
			<td>
				<img src="logo-ikon.png" width="35px">
				Copyright &copy; Farah Syadza
			</td>
		</tr>
	</table>
	</font>
</body>
</html>