<!DOCTYPE html>
<html>
<head>
	<title>Japan Dome Tour dan Perilisan Mini Album Series New Kids: BEGIN</title>
</head>

<body background="background2.jpg">
	<font face="Roboto" color="#3b3b3b">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" 
	height="100%" background="">
	<tr>
		<td>
		<table width="1140px" border="0"  align="center">
		<!-- Header -->
		<tr>
			<td width="570px">
				<a href="">
				<img src="logo-ikon.png" height="50px">
				</a>
			</td>
			<td align="right">
				<b><a href="Home.html" title="Kembali"> 
				<font face="Roboto" color="#3b3b3b">
				Kembali
				</font></a></b>
			</td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
							
		<!-- Content -->
		<tr>
			<td align="center">
				<font face="arial" size="20" color="#5a6a85"><b>2017: <font color="black">&nbsp;
				Japan Dome Tour dan Perilisan Mini Album Series New Kids: BEGIN</font></b></font>
				<br><br>
			</td>
		</tr>
							
		<tr>
			<td align="left" bgcolor="" cellpadding="10" cellspacing="1" width="150%">
				<font face="roboco" size="4" color="black">
					<p>Pada 20 Mei 2017, YG Entertainment mengumumkan bahwa iKON akan lanjut menggelar iKON Japan Tour 2017 dengan mengunjungi 11 kota 
					di Jepang, antara lain Osaka, Saitama, Kobe, Nagano, Fukuoka, Yokohama, Hiroshima, Fukuroi, Nagoya, Chiba, Kobe dan telah berhasil 
					mengumpulkan 323.000 penggemar. Rangkaian dari iKON Japan Tour 2017 ditutup dengan penyelenggaraan Dome Tour selama 2 hari berturut-turut 
					di Kyocera Dome dan Seibu Prince Dome. Hal tersebut membuat iKON menjadi grup termuda yang telah menyelenggarakan Dome Tour hanya dalam 
					kurun waktu 1 tahun 9 bulan sejak debut di Jepang.
					<br/><br/>
					Pada 22 Mei 2017, iKON melakukan comeback dengan mengeluarkan Singel Album sebagai awal perilisan dari rangkaian Mini Album 
					Series,New Kids: BEGIN. Dengan bertumpu pada 2 lagu yakni Bling-Bling dan B-day, iKON berhasil menyabet peringkat 1 di chart iTUNES 
					berbagai negara antara lain, USA, Armenia, Kazakhstan, Hongkong, Indonesia, Malaysia, Singapore, Thailand, Vietnam, Thailand dan negara-
					negara lainnya. Album ini berhasil berada di peringkat 2 penjualan mingguan Chart Gaon dan masuk kedalam urutan lagu di top 100 Chart 
					Gaon selama beberapa minggu.</p>
			</td>
		</tr>
							
		<!-- Footer -->
		<tr>
			<td>
				<img src="logo-ikon.png" width="35px">
				Copyright &copy; Farah Syadza
			</td>
		</tr>
	</table>
	</font>
</body>
</html>