  <!DOCTYPE html>
<html>
<head>
	<title>Penyelesaian seri New Kids dan tur dunia perdana</title>
</head>

<body background="background2.jpg">
	<font face="Roboto" color="#3b3b3b">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" 
	height="100%" background="">
	<tr>
		<td>
		<table width="1140px" border="0"  align="center">
		<!-- Header -->
		<tr>
			<td width="570px">
				<a href="">
				<img src="logo-ikon.png" height="50px">
				</a>
			</td>
			<td align="right">
				<b><a href="Home.html" title="Kembali"> 
				<font face="Roboto" color="#3b3b3b">
				Kembali
				</font></a></b>
			</td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
							
		<!-- Content -->
		<tr>
			<td align="center">
				<font face="arial" size="20" color="black"><b>2018: <font color="#5a6a85">&nbsp;
				Penyelesaian seri New Kids dan tur dunia perdana</font></b></font>
				<br><br>
			</td>
		</tr>
							
		<tr>
			<td align="left" bgcolor="" cellpadding="10" cellspacing="1" width="150%">
				<font face="roboco" size="4" color="black">
					<p>Pada 25 Januari 2018, iKON melakukan comeback dengan merilis full album Return dan Love Scenario sebagai Lagu utama dari album 
					tersebut. Saat pertama kali rilis, Album Return ini berhasil menempati peringkat 1 di chart iTUNES dari 17 negara antara lain, Jepang, 
					Armenia, Brunei Darusalam, Cambodia, Colombia, Hongkong, Indonesia, Malaysia, Philipina dan negara-negara lainnya, Peringkat 4 di chart 
					US Billboard World Album dan peringkat 9 di chart US Billboard Top Heart Seeker. Selain itu, sebagai lagu utama dari Album Return ini, 
					Love Scenario pun berhasil menempati peringkat 1 di seluruh chart musik domestik (MelOn,Genie,Naver,Soribada,Mnet,Bugs) selama 40 hari 
					(2 bulan) berturut-turut, Berhasil memecahkan rekor sebagai lagu yang memiliki jumlah PAK (Perfect All-Kill) terbanyak di seluruh chart 
					musik korea, yakni 204 PAKs, Menempati peringkat no.1 selama 6 kali berturut-turut di chart mingguan Gaon, dan masih banyak lagi prestasi-
					prestasi yang telah di hasilkan oleh lagu tersebut. Pada tanggal 1 Desember 2018, Love Scenario dinobatkan oleh 2018 Melon Music Awards (
					MMA) sebagai 2018 Song Of The Year.
					<br/><br/>
					Pada Tanggal 2 Agustus 2018, iKON kembali melakukan comeback dengan merilis mini album dari rangkaian album series New Kids, yakni 
					New Kids: Continue dengan Killing Me sebagai Lagu utama dari mini album tersebut. Melanjutkan momentum dari perilisan sebelumnya, 
					iKON dengan mini album New Kids: Continue ini kembali berhasil menempati peringkat 1 di chart iTUNES dari total 28 negara antara lain, 
					Indonesia, Jepang, Hongkong, Philipina, Malaysia, Singapura, Thailand, Vietnam dan negara-negara lainnya. Selain itu, Album New Kids: 
					Continue ini berhasil menempati peringkat ke- 2 di US Billboard World Album selama 2 hari berturut-turut, dan iKON berhasil debut 
					di posisi top 20 US Billboard Top 100 Social Artist.
					<br/><br/>
					Pada Tanggal 1 Oktober 2018, iKON kembali melakukan comeback ke-3 mereka di tahun 2018 dengan merilis mini album terakhir dari series 
					New Kids, yakni New Kids: The Final dengan Goodbye Road sebagai Lagu utama dari mini album ini. Pertama kali rilis, mini album ini 
					menempati peringkat 1 di chart iTUNES dari total 20 negara antara lain Brazil, Hongkong, Costa Rica, Malaysia, Saudi Arabia, Singapura, 
					Indonesia dan negara-negara lainnya. Mini Album New Kids: The Final ini pun merebut posisi 5 di US Billboard World Album disaat pertama 
					rilis. menempati peringkat 1 di chart Internasional, Mini albumnya menempati peringkat 2 di chart mingguan Gaon dan juga Goodbye Road 
					menempati peringkat 1 di 5 chart korea yakni melOn,Genie,Mnet,Bugs dan Soribada.
					<br/><br/>
					Pada Tanggal 2 September 2018, iKON mengejutkan para penggemar mereka dengan menjadi pengisi acara penutupan 18th Asian Games sebagai 
					perwakilan dari Korea (bersama dengan Senior grup Super Junior) di Indonesia.
					<br/><br/>
					Pada Tanggal 13 Juli 2018, YG Entertainment mengumumkan bahwa iKON akan melakukan World Tour ke berbagai negara asia dan juga Amerika 
					dengan tema iKON 2018 CONTINUE TOUR. Titik awal dari iKON Continue Tour 2018 adalah Konser pembuka di Olympic Gymnastic Arena dan ditutup 
					pada konser encore di Seoul pada 6 Januari 2019.</p>
			</td>
		</tr>
							
		<!-- Footer -->
		<tr>
			<td>
				<img src="logo-ikon.png" width="35px">
				Copyright &copy; Farah Syadza
			</td>
		</tr>
	</table>
	</font>
</body>
</html>