<!DOCTYPE html>
<html>
<head>
	<title>Kepergian B.I dari grup</title>
</head>

<body background="background2.jpg">
	<font face="Roboto" color="#3b3b3b">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" 
	height="100%" background="">
	<tr>
		<td>
		<table width="1140px" border="0"  align="center">
		<!-- Header -->
		<tr>
			<td width="570px">
				<a href="">
				<img src="logo-ikon.png" height="50px">
				</a>
			</td>
			<td align="right">
				<b><a href="Home.html" title="Kembali"> 
				<font face="Roboto" color="#3b3b3b">
				Kembali
				</font></a></b>
			</td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
							
		<!-- Content -->
		<tr>
			<td align="center">
				<font face="arial" size="20" color="#5a6a85"><b>2019: <font color="black">&nbsp;
				Kepergian B.I dari grup</font></b></font>
				<br><br>
			</td>
		</tr>
							
		<tr>
			<td align="left" bgcolor="" cellpadding="10" cellspacing="1" width="150%">
				<font face="roboco" size="4" color="black">
					<p>Pada tanggal 12 Juni 2019, pemimpin grup, B.I (Kim Han-bin), mengumumkan kepergiannya dari grup setelah agensi berita Dispatch 
					mengungkapkan bahwa Hanbin pernah mencoba untuk membeli mariyuana dan LSD (lysergic acid diethylamide; asam lisergat dietilamida) 
					pada tahun 2016. Dia secara pribadi mengirimkan surat melalui akun Instagram miliknya dan mengatakan bahwa dia akan keluar dari grup. 
					Pada hari yang sama, YG Entertainment memutuskan kontraknya.</p>
			</td>
		</tr>
							
		<!-- Footer -->
		<tr>
			<td>
				<img src="logo-ikon.png" width="35px">
				Copyright &copy; Farah Syadza
			</td>
		</tr>
	</table>
	</font>
</body>
</html>