<!DOCTYPE html>
<html>
<head>
	<title>album</title>
</head>

<body background="background2.jpg">
	<font face="Roboto" color="#3b3b3b">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" 
	height="100%" background="">
		<tbody>
			<tr>
				<td>
					<table width="1000px" border="0"  align="center">
						<tbody>
							<!-- Header -->
							<tr>
								<td width="570px">
									<a href="">
										<img src="logo-ikon.png" height="30px">
									</a>
								</td>
								<td align="right">
									<b><a href="Home.html" title="Kembali"> 
										<font face="arial" color="black">
											Kembali
										</font></a></b> &nbsp;&nbsp;&nbsp;
								</td>
							</tr>
							<tr>
								<td height="30px" colspan="2"></td>
							</tr>
							<!-- Content -->
							<tr>
								<td align="center" colspan="2">
									<font face="arial" size="30" font color="#5a6a85"><b>ALBUM<font face="arial" color="black">
									IKON.</font></b></font></td>
			
							<tr>
								<td height="30px" colspan="2"></td>
							</tr>
							<tr>
								<td align="center" colspan="2"></td>
							</tr>
							<tr>
							<td colspan="2">
								<br>
								<br>
								<br>
									<table align="center" bgcolor="" cellpadding="8" cellspacing="0" width="100%">
							<tr>
								<td align="center" width="570px" bgcolor="">
									<a>
										<img src="0.jpg" height="200px">
									</a>
								
								<td align="center" width="570px" bgcolor="">
									<a>
										<img src="IKON_DIGITAL_SINGLE_COVER(1).jpg" height="200px">
									</a>
										
								<td align="right" width="570px" bgcolor="">
									<a>
										<img src="the final.png" height="200px">
									</a>
							</tr>
							<tr>
								<td align="center">
								<font face="arial" color="black" size="6"><b>Return</b></font>
								</td>
								<td align="center">
								<font face="arial" size="6" font color="black"><b>New kids continue</b></font>
								</td>
								<td align="center">
								<font face="arial" size="6" font color="black"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Final</b></font>
								</td>
							</tr>
								<td align="center" width="570px" bgcolor="">
									<a>
										<img src="wlcmback.jpg" height="200px">
									</a>
								
								<td align="center" width="570px" bgcolor="">
									<a>
										<img src="wyd.jpg" height="200px">
									</a>
										
								<td align="right" width="570px" bgcolor="">
									<a>
										<img src="New Kids Begin.png" height="200px">
									</a>
							</tr>
							<tr>
								<td align="center">
								<font face="arial" color="black" size="6"><b>Welcome Back</b></font>
								</td>
								<td align="center">
								<font face="arial" size="6" font color="black"><b>WYD</b></font>
								</td>
								<td align="center">
								<font face="arial" size="6" font color="black"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kids Begin</b></font>
								</td>
							</tr>	
								
							<tr>
							<td colspan="2">
							</td>
						</tr>

						<tr>
							<td height="30px"  colspan="2"></td>
						</tr>
						
						<!-- Footer -->
						<tr>
							<td>
								<img src="logo-ikon.png" width="35px">
								Copyright &copy; Farah Syadza
							</td>
						</tr>
					</table>
				</td>
			</tr>
	</table>
	</font>
</body>
</html>
										