<!DOCTYPE html>
<html>
<head>
	<title>Pra-Debut</title>
</head>

<body background="background2.jpg">
	<font face="Roboto" color="#3b3b3b">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" 
	height="100%" background="">
	<tr>
		<td>
		<table width="1140px" border="0"  align="center">
		<!-- Header -->
		<tr>
			<td width="570px">
				<a href="">
				<img src="logo-ikon.png" height="50px">
				</a>
			</td>
			<td align="right">
				<b><a href="Home.html" title="Kembali"> 
				<font face="Roboto" color="#3b3b3b">
				Kembali
				</font></a></b>
			</td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
		
		<tr>
			<td height="30px"  colspan="2"></td>
		</tr>
							
		<!-- Content -->
		<tr>
			<td align="center">
				<font face="arial" size="20"><b>Pra-Debut<font color="#5a6a85">&nbsp;
				IKON</font></b></font>
				<br><br>
			</td>
		</tr>
							
		<tr>
			<td align="left" bgcolor="" cellpadding="10" cellspacing="1" width="150%">
				<font face="roboco" size="4" color="black">
					<p>Sebelum grup dibentuk, leader B.I tampil dalam lagu MC Mong yang berjudul "Indian Boy" pada tahun 2009.
					Ia tampil bersama MC Mong di SBS Dream Concert 2009 dan juga di You Hee-yeol's Sketchbook bersama dengan MC Mong.
					Koo Junhoe muncul pertama kali dalam acara varietas SBS Star King pada awal tahun 2009 dan membawakan gerakan tarian
					Michael Jackson.Ia juga berpatisipasi di ajang pencarian bakat SBS K-pop Star pada tahun 2011.
					Pada 3 Januari 2011, B.I dan Kim Jinhwan secara resmi menjadi trainee YG Entertainment yang disusul oleh Bobby seminggu kemudian.
					Pada 18 April 2012, Koo Junhoe dan Song Yunhyeong bergabung dengan Tim B yang diikuti dengan bergabungnya Kim Donghyuk pada
					5 November 2012 sebagai anggota keenam sekaligus yang terakhir.
					<br/><br/>
					<b>Who is Next: WIN</b>
					Grup ini pertama kali diperkenalkan pada tahun 2013 melalui program Who is Next: WIN sebagai Tim B yang terdiri dari leader B.I,
					Bobby, Jinhwan, Junhoe, Yunhyeong, dan Donghyuk. Tim B berkompetisi melawan grup trainee lainnya yang disebut sebagai Tim A dan
					yang menang berkesempatan untuk debut sebagai grup Winner. Setelah melalui tiga putaran pemilihan suara dari penonton, Tim B
					akhirnya kalah dari Tim A dan kembali menjadi trainee YG. Selama program ini, Tim B merilis dua singel, yakni "Just Another Boy"
					dan "Climax". Pada 9 November 2013, para anggota Tim B muncul sebagai penari latar dalam video musik "Ringa Linga" milik Taeyang.
					<br/><br/>
					<b>Show Me The Money 3</b>
					Pada tahun berikutnya, Bobby dan B.I berpatisipasi dalam program Show Me The Money 3 sementara saat itu juga sedang berlangsung
					program Mix & Match (keduanya acara dari Mnet). B.I tereliminasi di episode 7 sebagai 8 besar, sedangkan Bobby menjadi juara
					pertama musim itu. Dari program ini, mereka masing-masing merilis lagu solo yang ternyata sangat sukses dan menduduki posisi
					nomor 1 di berbagai tangga lagu. B.I merilis singel gubahannya sendiri berjudul "Be I", sementara Bobby merilis 4 lagu antara
					lain "L4L (Lookin' For Luv", "연결고리#힙합 (YGGR#hiphop)", "가 (GO)" dan "가드올리고 Bounce (Raise Your Guard and Bounce)." 
					Pada 12–13 April 2014, Tim B tampil di YG Family Japan Tour di Kyocera Dome, Osaka.
					<br/><br/>
					<b>Mix & Match</b>
					Pada Juni 2014, Tim B tampil dalam acara realitas kedua berjudul Mix & Match sebagai tindak lanjut dari WIN: Who Is Next. 
					Tujuan acara ini adalah untuk menentukan formasi akhir dari iKON. Saat Bobby, B.I, dan Jinhwan telah dikonfirmasi sebagai 
					anggota iKON, para anggota tersisa dari Tim B akan berkompetisi melawan tiga trainee baru, yakni Jung Jin-hyeong, dan Yang 
					Hong-seok, serta Jung Chan-woo yang sebelumnya telah dikenal sebagai aktor cilik. Server blog resmi YG mengalami gangguan 
					sebelum pengumuman resmi formasi akhir iKON. Anggota yang berhasil lolos antara lain Junhoe, Yunhyeong, Donghyuk dan Chanwoo. 
					Menyusul kesuksesan acara tersebut, para anggota iKON menggelar jumpa penggemar di Korea, Jepang dan Tiongkok. Pada bulan September, 
					sekitar 40.000 penggemar asal Jepang memperebutkan 2.000 tiket untuk jumpa penggemar di Osaka Tojima River Forum, sementara itu 
					lebih dari terdapat sekitar 50.000 penggemar asal Tiongkok mencoba membeli tiket untuk jumpa penggemar yang dilangsungkan di Beijing. 
					Pada 29 Desember, Mix & Match ditayangkan di saluran CS di Jepang.
					Pada 12 Agustus 2014, Winner debut dengan singel "Empty" yang ikut disusun dan ditulis oleh B.I dan Bobby. 
					B.I dan Bobby ikut serta tampil dalam "Born Hater", singel utama dari album studio ke-8 Epik High yang dirilis pada 18 Oktober 
					2014. B.I dan Bobby menampilkan "Born Hater" bersama Epik High dan Mino Winner di Mnet Asian Music Awards dan SBS Gayo 
					Daejun 2014. Bobby tampil di lagu 'YG's 2nd HIPHOP PROJECT' "Come Here" bersama rapper senior Masta Wu dan Dok2. 
					obby juga tampil di lagu Hi Suhyun yang berjudul "I'm Different".
					Pada 15 Desember 2014, iKON tampil sebagai pembuka konser Big Bang Japan Dome Tour 2014-2015 X. Pada 28 Januari 2015, 
					Billboard mengumumkan iKON sebagai salah satu dari "Top 5 K-Pop Artists to Watch in 2015" di mana iKON merupakan satu-satunya 
					grup dari daftar tersebut yang belum melakukan debut resmi.</p>
			</td>
		</tr>
							
		<!-- Footer -->
		<tr>
			<td>
				<img src="logo-ikon.png" width="35px">
				Copyright &copy; Farah Syadza
			</td>
		</tr>
	</table>
	</font>
</body>
</html>