<!DOCTYPE html>
<html>
<head>
	<title>member</title>
</head>

<body background="background2.jpg">
	<font face="Roboto" color="#3b3b3b">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" 
	height="100%" background="">
		<tbody>
			<tr>
				<td>
					<table width="1140px" border="0"  align="center">
						<tbody>
							<!-- Header -->
							<tr>
								<td width="570px">
									<a href="">
										<img src="logo-ikon.png" height="50px">
									</a>
								</td>
								<td align="right">
									<b><a href="Home.html" title="Kembali"> 
										<font face="arial" color="black">
											Kembali
										</font></a></b>
								</td>

							</tr>
							<tr>
								<td height="30px"  colspan="2"></td>
							</tr>
							<tr>
								<td height="30px"  colspan="2"></td>
							</tr>
							
							<!-- Content -->
							<tr>
								<td colspan="2">
								<font face="arial" size="30"><b>BIODATA<font color="#5a6a85">&nbsp;
								MEMBER IKON</font></b></font>
								<br>
								<br>
								</td>
							</tr>
							
							<tr>
								<td align="center" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="roboco" size="5" color="black">
											<p align="center">
											<b>1. KIM HANBIN</b>
											</p>
										</font>
									<img src="hanbin.jpg" align="center" height="300px" width="250px">
								</td>
								<td align="justify" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="arial" size="3" color="black">
											<br>
											<br>
											<br>
											<br>
											<p align="justify">
												<br>Nama panggung: B.I</br>
												<br>Nama Lahir: Kim Han Bin</br>
												<br>Posisi: Leader, Lead Rapper, Lead Dancer, Vocalist, Center</br>
												<br>Tanggal Lahir: 22 Oktober 1996</br>
												<br>Tempat lahir: Seoul, Korea Selatan</br>
												<br>Zodiak: Libra</br>
												<br>Tinggi: 177 cm</br>
												<br>Golongan Darah: O</br>
												<br>Instagram:@shxxbi131</br>

											</p>
										</font>
								</td>
								</tr>
								<tr>
								<td align="center" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="roboco" size="5" color="black">
											<p align="center">
											<b>2. KIM JHINWAN</b>
											</p>
										</font>
									<img src="jinan.jpg" align="center" height="300px" width="250px">
								</td>
								<td align="justify" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="arial" size="3" color="black">
											<br>
											<br>
											<br>
											<br>
											<p align="justify">
												<br>Nama Panggung: Jay (sebelumnya dikenal sebagai Jinhwan)</br>
												<br>Nama Asli: Kim Jin Hwan</br>
												<br>Posisi: Main Vocalist, Lead Dancer</br>
												<br>Tanggal Lahir: 7 Februari 1994</br>
												<br>Tempat lahir: Jeju-do, Korea Selatan</br>
												<br>Zodiak: Aquarius</br>
												<br>Tinggi: 165 cm</br>
												<br>Golongan Darah: A</br>
												<br>Instagram: @gnani_____</br>

											</p>
										</font>
								</td>
								</tr>
								
								<tr>
								<td align="center" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="roboco" size="5" color="black">
											<p align="center">
											<b>3. SONG YUNHYEONG</b>
											</p>
										</font>
									<img src="song.jpg" align="center" height="300px" width="250px">
								</td>
								<td align="justify" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="arial" size="3" color="black">
											<br>
											<br>
											<br>
											<br>
											<p align="justify">
												<br>Nama Panggung: Song (sebelumnya dikenal sebagai Yunhyeong)</br>
												<br>Nama Lahir: Song Yoon Hyung</br>
												<br>Posisi: Lead Vocalist, Center, Visual</br>
												<br>Tanggal Lahir: 8 Februari 1995</br>
												<br>Zodiak: Aquarius</br>
												<br>Tinggi: 177 cm</br>
												<br>Golongan Darah: A</br>
												<br>Instagram: @sssong_yh</br>

											</p>
										</font>
								</td>
								</tr>
								
								<tr>
								<td align="center" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="roboco" size="5" color="black">
											<p align="center">
											<b>4. KIM DONGHYUK</b>
											</p>
										</font>
									<img src="dk.jpg" align="center" height="300px" width="250px">
								</td>
								<td align="justify" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="arial" size="3" color="black">
											<br>
											<br>
											<br>
											<br>
											<p align="justify">
												<br>Nama Panggung: DK (sebelumnya dikenal sebagai Donghyuk)</br>
												<br>Nama Lahir: Kim Dong Hyuk</br>
												<br>Posisi: Main Dancer, Vokalist</br>
												<br>Tanggal Lahir: 3 Januari 1997</br>
												<br>Zodiak: Capricorn</br>
												<br>Tinggi: 175 cm</br>
												<br>Golongan Darah: O</br>
												<br>Instagram: @_dong_ii</br>
												
											</p>
										</font>
								</td>
								</tr>
								
								<tr>
								<td align="center" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="roboco" size="5" color="black">
											<p align="center">
										<b>5. KIM JI WON</b>
											</p>
										</font>
									<img src="bobby.jpg" align="center" height="300px" width="250px">
								</td>
								<td align="justify" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="arial" size="3" color="black">
											<br>
											<br>
											<br>
											<br>
											<p align="justify">
												<br>Nama Panggung: Bobby</br>
												<br>Nama Lahir: Kim Ji Won</br>
												<br>Posisi: Main Rapper, Vocalist, Face of the Group</br>
												<br>Tanggal Lahir: 21 Desember 1995</br>
												<br>Zodiak: Sagitarius</br>
												<br>Tinggi: 180 cm</br>
												<br>Golongan Darah: O</br>
												<br>Tempat kelahiran: Seoul, Korea Selatan, namun dibesarkan di Virgina, Amerika Serikat</br>
												<br>Instagram: @bobbyindaeyo</br>

											</p>
										</font>
								</td>
								</tr>

								<tr>
								<td align="center" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="roboco" size="5" color="black">
											<p align="center">
											<b>6. KOO JUNHOE</b>
											</p>
										</font>
									<img src="june.jpg" align="center" height="300px" width="250px">
								</td>
								<td align="justify" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="arial" size="3" color="black">
											<br>
											<br>
											<br>
											<br>
											<p align="justify">
												<br>Nama Panggung: Ju-ne (sebelumnya dikenal sebagai Junhoe)</br>
												<br>Nama Lahir: Koo Jun Hoe</br>
												<br>Posisi: Main Vocalist, Dancer</br>
												<br>Tanggal Lahir: 31 Maret 1997</br>
												<br>Zodiak: Aries</br>
												<br>Tinggi: 182 cm</br>
												<br>Golongan Darah: A</br>
												<br>Instagram: @juneeeeeeya</br>
												
											</p>
										</font>
								</td>
								</tr>
								<tr>
								<td align="center" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="roboco" size="5" color="black">
											<p align="center">
											<b>7. JUNG CHANWOO</b>
											</p>
										</font>
									<img src="chan.jpg" align="center" height="300px" width="250px">
								</td>
								<td align="justify" bgcolor="" cellpadding="8" cellspacing="0" width="50%">
										<font face="arial" size="3" color="black">
											<br>
											<br>
											<br>
											<br>
											<p align="justify">
												<br>Nama Lahir: Jung Chan Woo</br>
												<br>Nama Panggung: Chan (sebelumnya dikenal sebagai Chanwoo)</br>
												<br>Posisi: Vokalist, Maknae</br>
												<br>Tanggal Lahir: 26 Januari 1998</br>
												<br>Zodiak: Aquarius</br>
												<br>Tinggi: 180 cm</br>
												<br>Golongan Darah: A</br>
												<br>Instagram: @chan_w000</br>


											</p>
										</font>
								</td>
								</tr>
							<tr>
								<td height="30px"  colspan="2"></td>
							</tr>

							<tr>
								<td height="30px"  colspan="2"></td>
							</tr>
							<!-- Footer -->
							<tr>
								<td>
									<img src="logo-ikon.png" width="35px">
									Copyright &copy; Farah Syadza
								</td>
							</tr>


						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	</font>
</body>
</html>